/* Importing tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Custom font */
@font-face {
  font-family: 'excalidraw';
  src: url('/fonts/excalidraw.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.prose {
  font-family: 'excalidraw', sans-serif;
}